body, h1, h2, h3, h4, p, ul, ol, li {
    padding: 0;
    margin: 0;
}


body {
    font-size: 100%;
    font-family: Arial, sans;
}

html, body {
    height: 100%;
}

.site, .content {
    float: left;
    min-height: 100%;
}

.site {
    width: 40%;
}

.content {
    width: 60%;
}

/* thanks to http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/ */

.ribbon {
  background-color: #a00;
  overflow: hidden;
  /* top right corner */
  position: fixed;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
